.bg-color {
  background-color: #1a75ff;
}
.links {
  margin-left: 45%;
  box-sizing: border-box;
  position: absolute;

}
.hotlast {
  background-color: white;
  border: solid 1px #1a75ff;
  border-radius: 20px;
  height: 500px;
}
.main {
  padding-left: 40px;
  padding-right: 40px;
}
